  <p id="notice"><%= notice %></p>

  <h1>Cadastro</h1>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Nome</th>
        <th scope="row">Celular</th>
        <th scope="row">Telefone</th>
        <th scope="row">CNPJ/CPF</th>
        <th scope="row">Email</th>
        <th scope="row">Rua</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @cads.each do |cad| %>
        <tr>
          <td><%= cad.nome %></td>
          <td><%= cad.celular %></td>
          <td><%= cad.telefone %></td>
          <td><%= cad.cnpjcpf %></td>
          <td><%= cad.email %></td>
          <td><%= cad.rua %></td>
          <td><%= link_to 'Mostrar', cad %></td><form>
          <td><%= link_to 'Editar', edit_cad_path(cad) %></td>
          <td><%= link_to 'Excluir', cad, method: :delete, data: { confirm: 'Voce tem certeza que deseja excluir?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'Novo Cadastro', new_cad_path %>
