<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @cad.nome %>
</p>

<p>
  <strong>Cnpjcpf:</strong>
  <%= @cad.cnpjcpf %>
</p>

<p>
  <strong>Ie:</strong>
  <%= @cad.ie %>
</p>

<p>
  <strong>Celular:</strong>
  <%= @cad.celular %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @cad.telefone %>
</p>

<p>
  <strong>Nomecont:</strong>
  <%= @cad.nomecont %>
</p>

<p>
  <strong>Dtnasc:</strong>
  <%= @cad.dtnasc %>
</p>

<p>
  <strong>Celular2:</strong>
  <%= @cad.celular2 %>
</p>

<p>
  <strong>Telefone2:</strong>
  <%= @cad.telefone2 %>
</p>

<p>
  <strong>Nomecont2:</strong>
  <%= @cad.nomecont2 %>
</p>

<p>
  <strong>Email:</strong>
  <%= @cad.email %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @cad.cep %>
</p>

<p>
  <strong>Rua:</strong>
  <%= @cad.rua %>
</p>

<p>
  <strong>Numcasa:</strong>
  <%= @cad.numcasa %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @cad.cidade %>
</p>

<p>
  <strong>Bairro:</strong>
  <%= @cad.bairro %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @cad.estado %>
</p>

<p>
  <strong>Pais:</strong>
  <%= @cad.pais %>
</p>

<%= link_to 'Edit', edit_cad_path(@cad) %> |
<%= link_to 'Back', cads_path %>
